@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@300&display=swap');

/* font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --maincolor: #A91B60;
    --primary:#FF0080;
    --secandory:#EC9EC0;
    --ternary:#EBE0D0;
    --black:rgba(0,0,0,0.8);
    --white:#fff;
}

/* navbar start */
.navbar{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px, rgba(0,0,0,0.3) 0px 30px 60px -30px;
}
.logoContainer img{
    width: 100px;
    object-fit: contain;
}
nav{
    width: 40%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--maincolor);
    font-family: 'Poppins', sans-serif;
}
.icons{
    display: flex;
}
.icons .fa-solid{
    color: var(--maincolor);
    margin-left: 1em;
    font-size: 1.1rem;
}
.icons .fa-bars{
    display: none;
}

/* media queries for .navbar */
@media screen and (max-width: 990px) {
    html{
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }
    .navbar{
        max-width: 670px;
    }
    .navbar ul{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--maincolor);
        width: 100%;
        display: block;
        text-align: center;
        padding: 1em;
        display: none;
    }
    nav li{
        margin-bottom: 1em;
    }
    nav a{
        color: var(--ternary);
        font-size: 1.2rem;
    }
    .icons .fa-solid{
        font-size: 1.2rem;
    }
    .icons .fa-bars{
        display: block;
    }
}
@media screen and (max-width: 568px) {
    html{
        font-size: 12px;
    }
    .logoContainer img{
        width: 80px;
    }
    .navbar{
        max-width: 530px;
    }
}

/* section-1 starts */
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.contentBox{
    width: 45%;
    padding: 0.3em;
}
.contentBox h1{
    font-size: 2.8rem;
    font-family: 'Raleway', sans-serif;
    color: var(--maincolor);
}
.shopping{
    font-size: 3rem;
    font-family: 'Kaushan Script', cursive;
    display: inline-block;
    width: 100%;
    text-align: right;
}
.contentBox p{
    font-size: 0.9rem;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    margin: 0.5em 0;
}
.btn{
    width: 35%;
    padding: 0.5em 1.3em;
    font-size: 1.1rem;
    margin-top: 1.5em;
    border: none;
    outline: none;
    background-color: var(--maincolor);
    color: var(--ternary);
    border-radius: 6px;
}
.imgContainer img{
    max-width: 100%;
}

/* media queries for section-1 */
@media screen and (max-width:990px){
    .container{
        max-width: 950px;
    }
    .btn{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
    .contentBox{
        width: 85%;
    }
    .contentBox h1{
        font-size: 2.2rem;
        margin-top: 0.5em;
    }
    .shopping{
        font-size: 2.2rem;
        text-align: center;
    }
    .btn{
        width: 25%;
        padding: 0.8em;
        font-size: 1rem;
    }
    .imgContainer img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 568px){
    .btn{
        width: 30%;
    }
}
@media screen and (max-width: 450px){
    html{
        font-size: 12px;
    }
    .container{
        flex-direction: column-reverse;
    }
    .contentBox h1{
        text-align: center;
    }
    .btn{
        width: 40%;
    }
}
@media screen and (max-width: 300px){
    .btn{
        width: 50%;
    }
}

/* section-2 Start */

.promotion{
    justify-content: space-between;
    margin-top: 1em;
    background-image: linear-gradient(var(--secandory), var(--ternary), var(--secandory));
    padding: 1em 0;
}
.cards{
    width: 40%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px lightgray;
}
.cards img{
    width: 50%;
}
.cardContent{
    padding: 1em;
    width: 100%;
    text-align: center;
}
.cardContent h1{
    font-family: 'Kaushan Script', cursive;
}
.btnAll{
    width: 80%;
}

/* media queries for section-2 */

@media screen and (max-width: 990px){
    .btnAll{
        width: 100%;
        font-size: 0.9rem;
    }
    .cardContent h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 768px){
    .cards{
        width: 90%;
    }
    .btnAll{
        width: 35%;
    }
    .cardContent{
        text-align: right;
    }
    .cards img{
        width: 80%;
    }
}
@media screen and (max-width: 568px){
    .cards img{
        width: 50%;
    }
    .btnAll{
        width: 50%;
    }
}
@media screen and (max-width: 450px){
    .btnAll{
        width: 100%;
    }
}
@media screen and (max-width: 300px){
    .cards img{
        width: 60%;
    }
    .cardContent h1{
        font-size: 1.2rem;
    }
}